<div class="product-container">
  <a routerLink="/product/detail/{{product.id}}"><img class="product-image" src="{{ product.url }}" alt="{{ product.name }}"></a>
  <strong>{{ product.name }}</strong><br>
  <strong>${{ product.price }}</strong><br>
  <select class="select-input" name="quantity" id="quantity" (change)="onSelect($any($event).target.value)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
  </select>
  <button (click)="onAddProduct(product)">Add to cart</button>
</div>

