<div class="product-container">
  <a routerLink="/product/detail/{{product.id}}"><img class="product-image" src="{{ product.url }}" alt="{{ product.name }}"></a>
  <strong>{{ product.name }}</strong><br>
  <strong>${{ product.price }}</strong><br>
  <select class="select-input" name="quantity" id="quantity" [(ngModel)]="quantity">
    <option *ngFor="let quantity of quantityList" [value]="quantity">{{quantity}}</option>
  </select>
  <button (click)="onAddProduct(product)">Add to cart</button>
</div>
